/* Understand CSS */

body{
    background-color: #f8f1b0;
    min-width: 360px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-sizing: content-box;
}

header{
    margin-bottom: 20px;

    background-color: #416FA3;
    border: solid black 5px;
    border-radius: 10px;

    color: #ebf3fc;
    font-weight: bold;
    text-align: center;
}

main{
    background-color: white;
}

form {
    border: solid grey 2px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

label{
    margin-right: 5px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dashed grey 1px;
    padding: 10px;
}

.payment-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dashed grey 1px;
    padding: 10px;
}

.order-subtotal{
    font-weight: bold;
}

input[type="number"]{
    width: 60px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.items-block{
    margin: 10px;
}

#form_date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 1.3rem;
}

#fulfillment-info{
    margin: 10px;
    padding: 10px;
    border: solid 4px;
}


#payment-paid{
    display: flex;
}

#submit-button-container{
    text-align: center;
    margin: 10px;
}
input[type="submit"]{
    height: 50px;
    width: 200px;
    font-size: 2rem;
}

#customer-info{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}

/* Unoptimized code*/

#pay-method-div{
    text-align: end;
}

#additional-items-container{
    flex-flow: row wrap;
}

.item-label{
    flex-basis: 20%;
    padding-right: 10px
}

textarea {
    flex-basis: 80%;
}
